#logo {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#logo img {
    height: 64px;
}

@media (max-width: 1200px) {
    #sidebar-contents {
        height: 5rem;
        width: 85%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }

    #logo {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 0;
    }

    #logo img {
        height: 40px;
    }

    #logo h3 {
        display: none;
    }

    #account-details {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

@media (max-width: 630px) {
    #sidebar-contents {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem auto;
    }

    #logo {
        flex-direction: column;
    }

    #logo img {
        height: 32px;
        margin-bottom: -1rem;
    }
}